@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@200&family=Oswald:wght@300;400&display=swap");

body {
  padding: 0;
  margin: auto;
  border: 2px solid lightblue;
  font-family: "Alexandria", sans-serif;
  font-family: "Oswald", sans-serif;
  color: rgb(25, 43, 58);
  position: relative;
  background-color: rgba(109, 185, 251, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameBoard {
  position: relative;
  height: 500px;
  width: 1500px;
  background-image: url("../images/park-cityscape.jpg");
  background-size: cover;
}

.tourist {
  height: 300px;
  position: absolute;
  bottom: 0px;
  left: 20px;
  height: 250px;
}

.rat {
  position: absolute;
  bottom: 0px;
}

#timer {
  font-size: 4em;
  margin: 30px;
}

#kebabStand {
  height: 300px;
}

#gameWin {
  display: none;
  position: relative;
  margin: auto;
  z-index: 1;
  color: #192b3a;
  font-size: 2em;
  width: 500px;
  text-align: center;
  background-color: rgba(109, 185, 251, 0.9);
  padding: 10px;
}

button {
  padding: 7px 20px;
  font-size: 0.7em;
  background-color: rgba(188, 225, 109, 0.9);
  cursor: pointer;
  border: 1px solid rgb(25, 43, 58);
  font-family: "Oswald", sans-serif;
}

button:hover {
  background-color: rgb(38, 64, 87, 0.8);
  color: rgb(227, 231, 234);
}

#gameOver {
  display: none;
  position: relative;
  margin: auto;
  z-index: 1;
  font-size: 2em;
  width: 500px;
  text-align: center;
  background-color: rgba(109, 185, 251, 0.9);
  padding: 10px;
}

#gameOver img {
  height: 300px;
}
