body {
    padding: 0;
    margin: 0;
    border: 2px solid lightblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#gameBoard {
    /* background-color: rgb(183, 250, 135); */
    height: 100vh;
    /* width: 1000vh; */
    /* width: 1000px; */
    background-image: url('../images/park-cityscape.jpg');
    background-size: cover;


}

#touristPlayer {
    position: absolute;
    /* keeps player at bottom of page */
    bottom: 0px;
    left: 20px;
    height: 200px;
    background-color: rgb(234, 0, 255);

}

.ratObstacle {
    position: absolute;
    /* width: 100px; */
    bottom: 0px;
    right: 10px;
    height: 80px;
    background-color: brown;
    /* float: right; */
    /* bottom: 0px; */
}
