@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@200&family=Oswald:wght@300;400&display=swap");

body {
  padding: 0;
  margin: 0;
  border: 2px solid lightblue;
  font-family: "Oswald", sans-serif;
  height: 100vh;
  color: rgb(25, 43, 58);
}

#homepage {
  border: 2px solid lightcoral;
  background-image: url("../images/park-cityscape.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-size: 1.5em;
  text-align: center;
  display: flex;
  justify-content: center;
}

div {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 5px;
  width: 500px;
  height: 700px;
  background-color: rgba(109, 185, 251, 0.9);
}

span {
  padding: 0;
  font-size: 80px;
}

#startBtn {
  padding: 7px 20px;
  font-size: 1em;
  background-color: rgba(188, 225, 109, 0.9);
  cursor: pointer;
  border: 1px solid rgb(25, 43, 58);
  color: rgb(25, 43, 58);
  width: 200px;
  font-family: "Oswald", sans-serif;
}

#startBtn:hover {
  background-color: rgb(38, 64, 87, 0.8);
  color: rgb(227, 231, 234);
}
