body {
    padding: 0;
    margin: 0;
    border: 2px solid lightblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

section {
    border: 2px solid lightcoral;
    /* width: 1000px; */
    /* padding: 20px; */
    /* height: 900px; */
}

div {
    border: 2px solid blue;
    margin: 5px;
}

#gameBoard {
    background-color: rgb(183, 250, 135);
    height: 500px;
}
 #touristPlayer {
    position: absolute;
    /* keeps player at bottom of page */
    bottom: 0;
    height: 200px;
    background-color: rgb(234, 0, 255);
}

/* #parkscape {
    width: 1000px;
    height: 500px;
 
} */




